.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 260px;
    border-radius: 10px;
    margin: 30px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container h1 {
    width: 100%;
    text-align: center;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttonContainer button {
    width: 100px;
}